:root {
  --dark: rgb(31 36 33);
  --teal: rgb(33 104 105);
  --green: rgb(73 160 120);
  --light: rgb(156 197 161);
  --card: rgba(156, 197, 161, 0.5);
  --offwhite: rgb(220 225 222);
  --heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--offwhite);
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--light);
  text-decoration: none;
}

footer a:hover {
  color: var(--offwhite);
}

/* When the screen's width reaches 768px or lower,*/
@media screen and (max-width: 768px){
  footer a {
    color: var(--offwhite);
  }
}
