:root {
  --dark: rgb(31 36 33);
  --teal: rgb(33 104 105);
  --green: rgb(73 160 120);
  --light: rgb(156 197 161);
  --card: rgba(156, 197, 161, 0.5);
  --offwhite: rgb(220 225 222);
  --heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--offwhite);
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: var(--teal);
  color: var(--offwhite);
  width: 100%;
}

header button {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  font-size: medium;
  color: var(--offwhite);
  background-color: transparent;
}

.light-text:disabled {
  color: var(--light);
  text-decoration: underline;
}

.menu {
  display: none;
}

/* When the screen's width reaches 920 or lower,*/
@media screen and (max-width: 992px){
  header {
    flex-direction: row;
  }
  header nav{
    visibility: hidden;
  }
  .visible {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 16px;
    background-color: var(--green);
  }
  .menu {
    display: inline-block;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--green);
  }
}
