:root {
  --dark: rgb(31 36 33);
  --teal: rgb(33 104 105);
  --green: rgb(73 160 120);
  --light: rgb(156 197 161);
  --card: rgba(156, 197, 161, 0.5);
  --offwhite: rgb(220 225 222);
  --heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--offwhite);
  margin: 0px;
  padding-bottom: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay {
  opacity: 0;
}

.note {
  display: none;
}

.overlay:hover{
  background-color: var(--card);
  opacity: 100%
}

/* When the screen's width reaches 920 or lower,*/
@media screen and (max-width: 992px){
 .overlay {
  display:none;
 }
 .note {
  display: block
 }
}
