:root {
  --dark: rgb(31 36 33);
  --deep: rgb(2, 48, 71);
  --blue: rgb(33, 158, 188);
  --light: rgb(142, 202, 230);
  --hover: rgb(255, 183, 3);
  --button: rgb(251, 133, 0);
  --card: rgba(2, 48, 71, 0.5);
  --offwhite: rgb(220 225 222);
}

body {
  background-color: var(--offwhite);
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article a {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

article a:visited {
  color: var(--blue);
}

article a:hover {
  color: var(--hover);
  text-decoration: underline;
}

/* When the screen's width reaches 920 or lower,*/
@media screen and (max-width: 992px){

}
